<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h3>Quản lý Đợt giảm giá</h3>
<form th:action="@{/admin/search-discount}" method="get" style="display: flex; align-items: center;">
    <input type="text"  name="kywword" class="form-control" placeholder="nhập thông tin khuyến mãi"
           style="width: 93%; margin-right: 5px;"
           aria-label="Username" aria-describedby="basic-addon1">
    <button type="submit" class="btn btn-info" th:width="100px">Tìm kiếm</button>
</form>

<a type="button" class="btn btn-success" th:href="@{/admin/discount-view-add}">Thêm mới giảm giá</a>

<table class="table table-header">
    <thead>
    <tr>
        <th>#</th>
        <th>Tên Khuyến Mãi</th>
        <th>Ngày Bắt Đầu</th>


        <th scope="col"class="dropdown">
            Loại Khuyến Mãi
            <i style="cursor: pointer" class="filter fa-solid fa-filter"
               data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/admin/discount-type(type=0)}">Tiền mặt </a></li>
                <li><a class="dropdown-item" th:href="@{/admin/discount-type(type=1)}">Phần trăm </a></li>

            </ul>
        </th>

        <th scope="col"class="dropdown">
            Trạng thái
            <i style="cursor: pointer" class="filter fa-solid fa-filter"
               data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/admin/discount-status(status=0)}">đang hoạt động </a></li>
                <li><a class="dropdown-item" th:href="@{/admin/discount-status(status=1)}">chưa hoạt động </a></li>
                <li><a class="dropdown-item" th:href="@{/admin/discount-status(status=2)}">ngừng hoạt động </a></li>
            </ul>
        </th>
        <th>Giá Trị Khuyến Mãi</th>
        <th>Tổng Giá Trị Khuyến Mãi</th>

        <th>Số Lượng</th>
        <th>Mô Tả</th>
        <th>Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="discount,rowStat : ${page.content}">

        <td th:text="${rowStat.index}"/>
        <td th:text="${discount.discountCode}"></td>
        <td th:text="${discount.createDate}"></td>
        <td>
            <span th:if="${discount.discountType  == 0}" style="color: green;font-weight: bold;">Tiền mặt</span>
            <span th:if="${discount.discountType  == 1}" style="color: #ffa900;font-weight: bold;">Phần trăm</span>

        </td>
        <td>
            <span th:if="${discount.discountStatus  == 0}" style="color: green;font-weight: bold;">Hoạt động</span>
            <span th:if="${discount.discountStatus  == 1}" style="color: #ffa900;font-weight: bold;">Chưa hoạt động</span>
            <span th:if="${discount.discountStatus  == 2}" style="color: #ff0000;font-weight: bold;">Ngừng hoạt động</span>
        </td>

        <td th:text="${discount.discountValue}"></td>


        <td th:text="${discount.maximumDiscountAmount}"></td>
        <td th:text="${discount.quantity}"></td>
        <td th:text="${discount.note}"></td>
        <td>
            <a th:href="@{/admin/discount-detail/{id}(id=${discount.id})}">
                <button type="button" class="btn btn-warning"><i class="bi bi-eye"></i></button>
            </a>
            <a th:href="@{/admin/discount-view-update/{id}(id=${discount.id})}" id="update" type="button" class="btn btn-success" >
                <i class="fa-solid fa-pen"></i>
            </a>


        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example" >
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/admin/discount(p=${page.number - 1 < 0 ? page.totalPages - 1 : page.number - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="number : ${#numbers.sequence(0,page.totalPages-1)}">
            <a class="page-link" th:if="${number >= 0}" th:href="@{/admin/discount(p=${number})}"th:text="${number+1}"></a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/admin/discount(p=${page.number + 1 > page.totalPages - 1 ? 0 : page.number + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


</html>
