<!DOCTYPE html>
<html lang="id" dir="ltr"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <link rel="icon" th:href="@{https://res.cloudinary.com/dbxcrlj9c/image/upload/v1706160752/web_ban_quan_ao_nam/vzw4w8uapixk4usq9k1i.png}"/>
    <title>Shop55</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white py-5">
<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <i class="fa fa-exclamation-triangle fa-5x"></i>
        </div>
        <div class="col-md-10">
            <h3>Cảnh báo!!!!</h3>
            <p>Xin lỗi,<br/>Bạn không có quyền truy cập vào đường dẫn này</p>
            <a class="btn btn-danger" href="javascript:history.back()">Trở lại</a>
        </div>
    </div>
</div>
</body>

</html>