<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<style>
    .show-password{
        position: absolute;
        top: 45px;
        right: 19px;
        cursor: pointer;
    }
</style>
<div th:fragment="content">
    <h3>Đổi mật khẩu</h3>
    <form style="width: 60%;background-color: white;border-radius: 10px;
    padding: 10px " th:action="@{/admin/employee-change-password/{id}(id=${employee.id})}" th:object="${newPassword}"
          class="mx-auto" method="post">
        <div class="row">
            <div class="mb-3  col-6" style="position: relative">
                <label class="form-label">Mât khẩu cũ</label>
                <input th:value="*{oldPassword}"  name="oldPassword"  type="password" class="form-control" id="oldPassword">
                <i class="fa-solid fa-eye-slash show-password" id="oldPasswordIcon" onclick="showPassword('oldPasswordIcon','oldPassword')"></i>
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="error" th:errors="*{oldPassword}" />
                <p th:if="${error == true}" style="color: red" th:text="${message}" />
            </div>
            <div class="mb-3 col-6"style="position: relative">
                <label  class="form-label">Mật khẩu mới</label>
                <input th:value="*{newPassword}" name="newPassword"  type="password" class="form-control" id="newPassword">
                <i class="fa-solid fa-eye-slash show-password" id="newPasswordIcon" onclick="showPassword('newPasswordIcon','newPassword')"></i>
                <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="error" th:errors="*{newPassword}" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
      var isShowPassword = false
       function showPassword(tagIconId,inputId) {
            var tag = document.getElementById(tagIconId)
           var input = document.getElementById(inputId)
           if(!isShowPassword){
               tag.className = 'fa-solid fa-eye show-password'
               input.type = "text"
               isShowPassword = true
           }else {
               tag.className = 'fa-solid fa-eye-slash show-password'
               input.type = "password"
               isShowPassword = false
           }
       }
</script>
</html>