<html xmlns:th="http://www.thymeleaf.org" lang="en">
<style>
    .error {
        color: red;
    }
</style>
<div th:fragment="content">
    <h3>Thêm Loại</h3>
    <form style="width: 60%;background-color: white;border-radius: 10px; padding: 10px"
          th:action="@{/admin/category-add}" method="post" th:object="${newCategory}" class="mx-auto">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="exampleColorInput" class="form-label">Tên loại</label>
                <input th:field="*{categoryName}" type="text" class="form-control" id="exampleColorInput">
                <p th:if="${#fields.hasErrors('categoryName')}" class="error" th:errors="*{categoryName}"></p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
<script th:inline="javascript">
    // JavaScript code for handling provinces, districts, and communes (unchanged)
</script>
</html>
